#chatBoxLayer {
  background-color: white;
}

#chatBox {
  overflow-y: scroll;
  background-color: white;
  border: 1px solid white;
}

#cutLine {
  border-top: 1px solid black;
  margin: 7.5px 0px;
}
